<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Crime Report Management</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/citizen/login">Citizen Login</a></li>
            <li><a href="/citizen/register">Citizen Register</a></li>
            <li><a href="/police/login">Police Login</a></li>
        </ul>
    </nav>
    <h1>Welcome to Crime Report Management System</h1>
</body>
</html>
